body{
  font-family: "Helvetica", sans-serif;
}

#mainheading{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

#h21{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: mediumspringgreen;
}

#h22{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: lightcoral;
}
#h23{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: skyblue;
}

.spec{
  color: blue;
}
